// Colors

@basic-white: #fff;
@basic-black: #000;
@primary: #ed2e38;
@secondary: #3c324c;
@secondary-light: #8775a4;
@font: #1a1a1a;
@disabled: #ccc;
@gray: #e6e6e6;
@img: lightgrey;
@placeholder: #666;
@success: #00D72F;
@error: red;
@disabled: #949699;
@error: red;
@admin-bg: #f0f0ea;
@success: #00D72F;

// Viewports

@desktop-width: 1280px;
@tablet-width: 768px;
@mobile-width: 360px;
