.main-page__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 320px;
  gap: 32px;
  margin-top: 32px;
  margin-bottom: 32px;

  @media (max-width: (@desktop-width - 1px)) {
    margin-top: 16px;
    margin-bottom: 16px;
    gap: 16px;
  }
}

.main-page__grid-item {
  position: relative;
  z-index: 0;
  grid-column: span 2;
  padding: 48px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  color: @basic-white;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(fade(@secondary, 85%),
        fade(@secondary, 85%));
    opacity: 1;
    transition: 0.3s;
  }

  &:hover::after {
    opacity: 0.8;
  }

  &:first-child,
  &:nth-child(2) {
    grid-column: span 3;
    z-index: 1;
  }

  &:first-child {
    padding: 40px;
  }

  &:nth-child(3) {
    z-index: 1;
  }

  &:nth-last-child(2) {
    order: 1;
  }

  &:last-child {
    grid-column: span 4;
    grid-row: span 2;
  }
}

.main-page__card-content {
  min-height: 22px;

  h2 {
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;

    &:last-of-type {
      margin-bottom: 16px;
    }
  }

  p {
    font-size: 28px;
    font-weight: 300;
    margin: 0;
  }

  a {
    .video();
    margin-top: 48px;
    margin-left: auto;
    width: max-content;
    max-width: 160px;
  }
}

.main-page__news {
  background-color: @secondary;
  padding-top: 64px;
  padding-bottom: 64px;
  color: @basic-white;
}

.main-page__more-link {
  .button();
  position: absolute;
  right: 0;
  top: 24px;
}

.main-page__news-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  color: @basic-white;
  margin-top: 32px;
}

.main-page__projects {
  margin-top: 128px;
  margin-bottom: 128px;
}

.main-page__projects-list {
  margin-top: 32px;
}
